@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
    margin: 2em;
}

h1 {
    font-size: 5vmax;
    color: rgb(180, 102, 233);
    line-height: 1;
}

h2 {
    font-size: 3vmax;
    color: #fefefe;
}

p {
    font-size: 3vmax;
    line-height: 1;
}

.yellow {
    color: #fedd0e;
}

.icon {
    display: inline;
    height: .4em;
    padding-right: .1em;
    padding-bottom: .1em;
}

.container-fluid.game {
    margin: -2em;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: Dongle, sans-serif;
    background-color: #2d2d2d;
}

.container-fluid.invite {
    font-family: Dongle, sans-serif;
}

.game > .row {
    flex: 1;
    margin: 2% 5%;
}

.force-size-2 {
    height: calc(50vh - 10%);
}

.account, .spotify-player {
    height: calc(100% - 30px);
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgb(1, 1, 1);
    background-color: #000000;
    border-radius: 20px;
    transition: box-shadow 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account:hover {
    box-shadow: 0 0 30px rgb(1, 1, 1);
}

.spotify-player {
    flex: 3;
    box-shadow: 0 0 15px rgb(147, 146, 146);
    background-color: rgba(255, 255, 255, 0.96);
    flex-direction: row;
}

.spotify-player:hover {
    box-shadow: 0 0 30px rgb(147, 146, 146);
}

.spotify-player > .hstack{
    height: 100%;
}

.cover{
    height: calc(100% + 40px);
    margin: -20px 20px -20px -20px;
    border-radius: 20px 0 0 20px;
}

.account > * {
    display: flex;
    align-items: center;
}

.account > h1 {
    flex: 2;
}

.account > h2 {
    flex: 1;
}

.large-icon {
    width: 1.5em;
    height: 1.5em;
    margin: 1em;
}

.invite * .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4em);
}

.invite * * h1+p{
    line-height: 0;
}

.vstack > * {
    text-align: center;
}

.qr {
    height: 50vh !important;
    width: 50vh !important;
}

.qr-container > button {
    font-size: 5vh !important;
    padding-bottom: 0 !important;
}